.contenedorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d6d8da;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.contenedorHeader .titulo {
    text-align: center;
    flex-grow: 1;
    color:rgb(1, 69, 126);
}

.contenedorHeader img {
    margin-right: auto;
    margin-left: -30px;
}

.contenedorHeader nav {
    margin-right: 40px;
    margin-left: auto;
}

.contenedorHeader nav a {
    text-decoration: none;
    color: rgb(1, 69, 126);
    padding: 10px;
    border: 1px solid rgb(1, 69, 126);
    border-radius: 5px;
}

.contenedorHeader nav a:hover {
    background-color: rgb(1, 69, 126);
    color: #fff;
}